<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>P2P Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="icon" href="{{ url_for('static', filename='img/banner.png')}}">
</head>


<body>
	<header>
		<nav class="navbar navbar-light bg-light">
			<!-- <form class="form-inline my-2 my-lg-0" action="/search"></form> -->
			<div class="dropdown">
				<input class="form-control mr-sm-2" type="search" placeholder="Search user name..." id="search-input"
					name="search-input" autocomplete="off">
				<div class="dropdown-menu-search" id="dropdown-menu-search"></div>
				<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
			</div>
			<!-- </form> -->
			<div class="clearfix">
				<a href="/logout" class="btn btn-info btn-sm float-xl-right pull-right">
					<span class="glyphicon glyphicon-log-out"></span> Log out
				</a>
			</div>
		</nav>
	</header>
	<div id="alert"></div>
	<!-- <video id="myVideo" muted controls></video>
	<video id="friendVideo" controls></video> -->
	<div class="wrapper">

		<section class="messages-page">
			<div class="container">
				<div class="messages-sec">
					<div class="row" id="inchat">
						<div class="col-lg-4 col-md-12 no-pdd left">
							<div class="msgs-list">
								<div class="msg-title">
									<button class="btn btn-outline-primary" onclick="backtoFront()">Back</button>
									<h3>Messages</h3>
								</div>
								<!--msg-title end-->
								<div class="messages-list">
									<ul id="list-user">
									</ul>
								</div>
								<!--messages-list end-->
							</div>
							<!--msgs-list end-->
						</div>
						<div class="col-lg-8 col-md-12 pd-right-none pd-left-none right">
							<div class="main-conversation-box" id="chat">

								<!--messages-line end-->
								<div class="message-send-area">
									<div class="mf-field">
										<div class="input-field">
											<input type="text" name="message" placeholder="Type a message here"
												id="message" onkeypress="enterEV()" autocomplete="off">
											<div class="upload-btn-wrapper">
												<button class="btn"><span id="btn-upload">Send file</span></button>
												<input type="file" id="File">
											</div>
										</div>
										<button class="btn btn-primary" id="send">Send</button>
									</div>
								</div>
								<!--message-send-area end-->
							</div>
							<!--main-conversation-box end-->
						</div>
					</div>
					<div class=" row" id="frontpage">
						<div class="friend-info">
							<div class="row">
								{% for x in contactList(session['user'].name) %}
								<div class="col-lg-4">
									<div class="card-deck">
										<div class="card">
											<div class="card-body">
												<div class="usr-mg-info">
													<img src="https://i.imgur.com/jUmCAZj.jpg" alt="" height="50">
													<h3 class="card-title">{{ x.name }}</h3>
												</div>
												<!--usr-mg-info end-->
												<button href="#" class="btn btn-primary" id="button{{x.name}}"
													onclick="ask('{{x.name}}')">Chat</button>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<!--messages-sec end-->
			</div>
		</section>
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script>
		$(document).ready(function () {
			var html = "";
			var url = window.location.href;
			var myUserName = url.split('=')[1];
			$('#search-input').keyup(function () {
				if ($('#search-input').val() != "") {
					$.ajax({
						dataType: "json",
						url: "/search?search-input=" + $('#search-input').val() + "&myname=" + myUserName,
						success: function (data) {
							for (var i = 0; i < data.length; i++) {
								html += '<div id="searchUser' + data[i].name + '\"><span><strong>' + data[i].name + '</strong></span> <button class="btn btn-outline-success my-2 my-sm-0"  id="addBtn' + data[i].name + '\" onclick=\"add(\'' + myUserName + "\',\'" + data[i].name + '\')\">Add</button></div>\n'
							}
							$('#dropdown-menu-search div').remove();
							$('dropdown-menu-search').html("");
							$("#dropdown-menu-search").append(html);
							html = "";

						}
					});
				}
				else {
					$('#dropdown-menu-search div').remove();
				}
			});
		});
		function add(myname, cname) {
			$.ajax({
				dataType: "json",
				url: "/addContact?name=" + myname + "&cname=" + cname,
				success: function (data) {
					$('div#searchUser' + data.cname).remove();
					var ale = "Bạn vừa thêm <strong>" + data.cname + "</strong> vào danh sách liên lạc!!!";
					$('#alert').html(ale);
					$('#alert').addClass("alert alert-success");
					$("#alert").delay(2000).slideUp(500, function () {
						$(this).html("");
						$(this).removeClass("alert alert-success");
						document.getElementById("alert").style.display = "block";
					});
				}
			});
		}
	</script>
	<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>


</html>